@font-face {
    font-family: "Norse-Bold";
    src: url("font/Norse-Bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&family=Source+Sans+Pro&display=swap');

:root {
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
}

img[src="images/fern.jpg"] {
    height: 100vh;
    width: 40vw;
    object-fit:cover;
}

aside {
    position: inherit;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40vw;

    font-family: "Norse-Bold";
    font-size: 64px;
    background-color: #00000090;
    color: white;

    position: absolute;
    top: 25vh;
}

.logo > img {
    height: 128px;
}

aside > p {
    display: flex;
    justify-content: center;
    width: 40vw;
    color: white;
    position: absolute;
    bottom: 12px;
}

aside > p > a {
    color: white;
}

aside > p > a::before, aside > p > a::after {
    content: "";
    padding: 3px;
}

main {
    background-color: #F5F5F5;
    flex: 1;
}

section:nth-of-type(1) {
    padding: 128px 128px 0 64px;
    font-weight: 700;
    font-size: 24px;
}
section:nth-of-type(1) p:nth-of-type(1) {
    padding-bottom: 8px;
}

section:nth-of-type(1) p:nth-of-type(2) {
    padding-bottom: 32px;
}

em {
    font-style: italic;
}


