@font-face {
    font-family: "Norse-Bold";
    src: url("font/Norse-Bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&family=Source+Sans+Pro&display=swap');

:root {
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
}

img[src="images/fern.jpg"] {
    height: 100vh;
    width: 40vw;
    object-fit:cover;
}

aside {
    position: inherit;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40vw;

    font-family: "Norse-Bold";
    font-size: 64px;
    background-color: #00000090;
    color: white;

    position: absolute;
    top: 25vh;
}

.logo > img {
    height: 128px;
}

aside > p {
    display: flex;
    justify-content: center;
    width: 40vw;
    color: white;
    position: absolute;
    bottom: 12px;
}

aside > p > a {
    color: white;
}

aside > p > a::before, aside > p > a::after {
    content: "";
    padding: 3px;
}

main {
    background-color: #F5F5F5;
    flex: 1;
}

section:nth-of-type(1) {
    padding: 128px 128px 64px 64px;
    font-weight: 700;
    font-size: 24px;
}
section:nth-of-type(1) p:nth-of-type(1) {
    padding-bottom: 8px;
}

section:nth-of-type(1) p:nth-of-type(2) {
    padding-bottom: 32px;
}

em {
    font-style: italic;
}

form {
    padding: 32px 128px 32px 64px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px 0 #505050;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
    flex-basis: 100%;
    padding-bottom: 32px;
}

.input-container {
    width: 300px;
    padding: 0 32px 32px 0;
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    color: #505050;
    font-size: 16px;
    padding-bottom: 8px;
}

input {
    all: unset;
    font-family: Roboto, sans-serif;
    border: #aaa 1px solid;
    background-color: #fcfcfc;
    border-radius: 3px;
    padding: 8px;
    font-size: 20px;
}

input:focus-within {
    outline: #71d1ee 2px solid;
    box-shadow: 2px 2px 2px 2px #505050;
    border: 0px;
}

input:invalid:not(:placeholder-shown) {
    outline: #cc4747 2px solid;
    border: 0px;
}

.final-section {
    padding: 32px 128px 32px 64px;
}

button {
    border: 0px;
    border-radius: 4px;
    background-color: #596D48;

    box-shadow: 2px 2px 2px 2px #505050;

    color: #F5F5F5;
    font-weight: 700;
    font-size: 1.1rem;
    height: 64px;
    width: 256px;
}

.final-section > p {
    padding-top: 32px;
    font-size: 1.1rem;
}

.final-section > p > a {
    text-decoration: none;
    font-weight: 700;
    color: #596D48;
}